.cardsContainer {
  display: flex;
  flex-flow: wrap;
  width: 800px;

}
.card {
  display: flex;
  flex-direction: row;
  height: 500px;
}
.imgCard {
  width: 300px;
}
ul {
  list-style-type: none;
} */

 /* img {
  height: 100%;
  width: 75%;
} */

.detailsCard {
  width: 40%;
}